<ion-header>
  <ion-toolbar>
    <ion-title>Car City Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" name="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="car-search">
    <ion-label>Pick up from</ion-label>
    <ion-searchbar show-clear-button="always"  placeholder="City, Airport or Address"></ion-searchbar>
  </div>

  <!-- <div class="flight-search">
    <ion-label>Drop off to</ion-label>
    <ion-searchbar show-clear-button="always"  placeholder="City, Airport or Address"></ion-searchbar>
  </div> -->
</ion-header>
<ion-content class="ion-padding">
 
</ion-content>
