<ion-header>
  <ion-toolbar>
    <ion-title>Flight City Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" name="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="flight-search">
    <ion-label>From</ion-label>
    <ion-searchbar show-clear-button="always"  placeholder="Departing from?"></ion-searchbar>
  </div>

  <!-- <div class="flight-search">
    <ion-label>To</ion-label>
    <ion-searchbar show-clear-button="always"  placeholder="Going to?"></ion-searchbar>
  </div> -->
</ion-header>
<ion-content class="ion-padding">
 
</ion-content>
