.segment-div{
      padding: 8px;
     border-radius: 20px;
     height: auto;
 .segment-label{
   text-transform: capitalize;
 }
 }
 ion-segment{
   border-bottom: 1px solid #e7ecf3;
 }
 .segment-button-checked{
   color: #141416;
 }
 